*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(cake1.jpg);
    background-color: no-repeat;
    background-size: 2000px 1000px;
}
#text1{
    color: blue;
    font-size: 60px;
    margin-top: 50px;
    margin-left: 40px;
}
#text2{
    color: aqua;
    font-size: 60px;
    margin-top: 50;
}
button{
    height: 70px;
    width: 180px;
    background-color: rgb(4, 255, 0);
}
button a{
color: azure;
font-size: 33px;
border-radius: bold;
}